body {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

#canvas {  /*/*Resolucion y tamaño del contenedor donde se coloca el video*/
  width: 100%;
  height: 100%;
}

#video {  /*Resolucion y tamaño del video*/
  width: 0px;
  height: 0px;
}

#qr-scanner {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;  /*Tamaño del espacio del video no afecta a resolucion*/
  height: 600px;
  overflow: hidden;
  top: -10px;
}

#qr-result {
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#titulo {
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 18px;
  width: 100%;
  background-color: #f3f3f3;
  margin: 0;
  z-index: 9999;
  font-weight: bold;
}

 /* #camara{
  position: fixed;
  bottom: 2%;
} */

#camara {
  display: inline-block;
  /* ajusta el ancho según tus necesidades */
  position: fixed;
  bottom: 2%; /* ajusta el valor según tus necesidades */
  padding: 50px;
}

#camara1{
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 8%;
}
